- fresh = !User.any?
- user_count = User.all.count

%br
.col-md-8.col-md-offset-2.col-xs-12
  - if flash[:notice]
    .alert.alert-info
      %p= flash[:notice]
  - if flash[:success]
    .alert.alert-info
      %p= raw flash[:success]

  .panel.panel-primary.home
    .panel-body
      %h1 Revv Technical Challenge

      .buttons
        - if user_count < 2
          - unless fresh
            %a.btn.btn-primary.btn-lg{ href: new_sessions_path } Login
          %a.btn.btn-primary.btn-lg{ class: ('start' if fresh), href: new_user_path }
            = fresh ? 'Get Started &raquo;'.html_safe : 'New User'
        - else 
          %a.btn.btn-primary.btn-lg{ href: products_path } View Products
